/* reset */
button,
fieldset,
input {
  all: unset;
}

.DialogOverlay {
  background-color: black;
  opacity: 0.9;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: violet;
}

.DialogDescription {
  margin: 10px 0 20px;
  font-size: 15px;
  line-height: 1.5;
  color: violet;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  border: 0;
  font-weight: 500;
  height: 35px;
  outline: 0;
}
.Button.violet {
  background-color: white;
  color: rgb(0, 0, 0);
  box-shadow: 0 2px 10px black;
  border: 0;
  outline: 0;
}
.Button.violet:hover {
  background-color: rgb(59, 39, 59);
  color: white;
  cursor: pointer;
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
  outline: 0;
  border: 0;
}
.Button.green {
  background-color: rgb(59, 67, 59);
  color: rgb(228, 228, 228);
}
.Button.green:hover {
  background-color: rgb(59, 39, 59);
  cursor: pointer;
}
.Button.green:focus {
  box-shadow: 0 0 0 2px rgb(29, 40, 29);
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: violet;
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: rgb(59, 39, 59);
  cursor: pointer;
}
.IconButton:focus {
  box-shadow: 0 0 0 2px violet;
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.Label {
  font-size: 15px;
  font-weight: 700;
  color: violet;
  width: 90px;
  text-align: right;
}

.select {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: violet;
  box-shadow: 0 0 0 1px violet;
  height: 35px;
  background-color: white;
  border: 0;
  outline: 0;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: violet;
  box-shadow: 0 0 0 1px violet;
  height: 35px;
}
.Input:focus {
  box-shadow: 0 0 0 2px violet;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
